.DS_Store/
.vscode/**
a.out
a.out.dSYM/**
__pycache__/**
*.pyc
CLEANUP/
Output/
Validation_/
runkmc.egg-info/
output/
cpp/build/RunKMC
build/
dist/
*.egg-info/
wheelhouse/
test_envs/
.venv
cpp/include/eigen-3.4.0/**
.simulations/
**/bin
**/build
**output_dir/
profiling/**
CLAUDE.md