parameters
    num_units = {{num_units}};
    termination_time = {{termination_time}};
    analysis_time = {{analysis_time}};
end

species
    I I     [C0]={{I_c0}}   FW={{I_FW=1.0}}   f={{I_f=0.50}}
    U R     [C0]={{R_c0=0}}   FW={{R_FW=1.0}}
    M A     [C0]={{A_c0}}   FW={{A_FW=1.0}}
    M B     [C0]={{B_c0}}   FW={{B_FW=1.0}}

    P P[R.A]
    P P[R.B]
    P P[A.A]
    P P[A.B]
    P P[B.A]
    P P[B.B]

    # The polymers separated by | are a subgroup of P[-.A] and P[-.B]
    LABEL P[-.A] P[R.A]|P[A.A]|P[B.A]
    LABEL P[-.B] P[R.B]|P[A.B]|P[B.B]
    P D report=true
end

rateconstants
    kd	    = {{kd}}

    kpAAA   = {{kpAAA=0.0}}
    kpBAA   = {{kpBAA=0.0}}
    kpAAB   = {{kpAAB=0.0}}
    kpBAB   = {{kpBAB=0.0}}
    kpABA   = {{kpABA=0.0}}
    kpBBA   = {{kpBBA=0.0}}
    kpABB   = {{kpABB=0.0}}
    kpBBB   = {{kpBBB=0.0}}

    kdAA    = {{kdAA=0.0}}
    kdAB    = {{kdAB=0.0}}
    kdBA    = {{kdBA=0.0}}
    kdBB    = {{kdBB=0.0}}

    ktdAA   = {{ktdAA=0.0}}
    ktdAB   = {{ktdAB=0.0}}
    ktdBB   = {{ktdBB=0.0}}

    ktcAA   = {{ktcAA=0.0}}
    ktcAB   = {{ktcAB=0.0}}
    ktcBB   = {{ktcBB=0.0}}
end

reactions
	# ---- Initiator decomoposition ----
    ID I -kd-> R + R
    
	# ---- Initiation ----
    IN R + A -kpAAA-> P[R.A]
    IN R + B -kpBBB-> P[R.B]

	# ---- Propagation ----
    PR P[R.A] + A -kpAAA-> P[A.A]
    PR P[R.A] + B -kpAAB-> P[A.B]
    PR P[R.B] + A -kpBBA-> P[B.A]
    PR P[R.B] + B -kpBBB-> P[B.B]

    PR P[A.A] + A -kpAAA-> P[A.A]
    PR P[A.A] + B -kpAAB-> P[A.B]
    PR P[A.B] + A -kpABA-> P[B.A]
    PR P[A.B] + B -kpABB-> P[B.B]
    PR P[B.A] + A -kpBAA-> P[A.A]
    PR P[B.A] + B -kpBAB-> P[A.B]
    PR P[B.B] + A -kpBBA-> P[B.A]
    PR P[B.B] + B -kpBBB-> P[B.B]

    # ---- Depropagation ----
    DP P[A.A] -kdAA-> P[-.A] + A
    DP P[A.B] -kdAB-> P[-.A] + B
    DP P[B.A] -kdBA-> P[-.B] + A
    DP P[B.B] -kdBB-> P[-.B] + B

	# ---- Termination by combination ----
    TC P[-.A] + P[-.A] -ktcAA-> D
    TC P[-.A] + P[-.B] -ktcAB-> D
    TC P[-.B] + P[-.B] -ktcBB-> D

	# ---- Termination by disproportionation ----
    TD P[-.A] + P[-.A] -ktdAA-> D + D
    TD P[-.A] + P[-.B] -ktdAB-> D + D
    TD P[-.B] + P[-.B] -ktdBB-> D + D
end